# Title of your script
__TITLE="Atomic deploy from a GIT server"

# Standard help message, bound to "-h" or "--help"
options["h", "required"]=0
options["h", "parameter"]=0
options["h", "long"]="help"
options["h", "message"]="prints this help and usage message"
options["h", "function"]="usage"

# Inits an environment
options["i", "required"]=0
options["i", "parameter"]=git_url
options["i", "long"]="init"
options["i", "message"]="inits a new environment from a Git repository url"
options["i", "function"]="set_init_flag"

# Cleanup previous deployments
options["c", "required"]=0
options["c", "parameter"]=0
options["c", "long"]="cleanup"
options["c", "message"]="cleans all previous versions until deployment"
options["c", "function"]="set_cleanup_flag"

# Rollbacks to the last deployment
options["r", "required"]=0
options["r", "parameter"]=0
options["r", "long"]="rollback"
options["r", "message"]="rollbacks to the previous version"
options["r", "function"]="set_rollback_flag"

# Your parameters (I cannot guess them!)
parameters="application environment [file 1 file2 ...]"

# Use custom gnu-getopt
__GETOPT_PATH="/usr/local/Cellar/gnu-getopt/1.1.5/bin/getopt"